<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ICSharpCode.TextEditor.Extended" version="4.2.4" targetFramework="net47" />
  <package id="ini-parser" version="2.5.2" targetFramework="net47" />
  <package id="iTextSharp" version="5.5.13.2" targetFramework="net461" />
  <package id="Jint" version="2.11.58" targetFramework="net48" />
  <package id="ZetaLongPaths" version="1.0.17" targetFramework="net48" />
</packages>